{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ category}}{% endblock %}

{% block content %}
 {% if articles %}
  {% for article in articles %}
    <article>
      <div class="article-info">
      <h2><a href="{{ SITEURL }}/{{ article.url}}">{{ article.title }}</a></h2>
      <small><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        | by {{ article.author }} | in <a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></small>
      </div>
      <div class="article-content">
        {{ article.summary }}<br />
        <a class="btn" href="{{ SITEURL }}/{{ article.url }}" title="Read more..."><i class="fab fa-readme"></i></a>
      </div>
    </article>
  {% endfor %}
 {% endif %}
{% endblock %}
